Package: com.pookjw.dynamicalerttweak
Name: DynamicAlertTweak
Version: 1.0.1
Architecture: iphoneos-arm64
Description: An awesome MobileSubstrate tweak!
Maintainer: pookjw
Author: pookjw
Section: Tweaks
Depends: firmware (>= 16.0)
